*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #B2D732;
}

main {
	color: #202020;
}

header {
	background-color: #2E6C85;
	width: 100%;
}

header img {
	position: absolute;
	top: 10px;
	right: 10%;
	z-index: 5;
	width: auto;
	max-width: 15vw;
	height: auto;
}

/*updated incorrect footer color B2 to a standard css color */ 
footer {
	text-align: center;
	background-color: #092834;
	color: lime;
	clear: both;
}



h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	/*CSS styles must not contain spaces. 5 vw corrected to 5vw */
	font-size: 5vw;
	color: #B2D732;
	text-align: center;
	text-shadow: 3px 2px 5px #202020;
	padding: 2vw;
	margin: 0px;
}

h2,
h4,
h5 {
	color: #C04402;
	font-family: 'Architects Daughter', cursive;
	margin-top: 1em;
}

h3 {
	color: #2E6C85;
	margin-top: 1em;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	/* updated 1.35me to em  */ 
	line-height: 1.35em;
	margin-top: 1em;
}

ol {
	margin-left: 2em;
	line-height: 1.5em;
}

.accent1 {
	background-color: #C04402;
	color: whitesmoke;
}

.accent2 {
	color: #B2D732;
}

/*Invalid color utilized */ 
.error {
	color: white
}

a {
	color: #092834;
}

/*updated dthe text-decoration value from none to underline */
a:hover {
	color: #2E6C85;
	text-decoration: underline;
}

a:visited {
	color: #FE2712;
	text-decoration: none;
}